Calculate Area of a Circle?

In [7]:
PI = 3.14
r = 8
Area = PI * (r*r)
print("Area of circle", Area)

Area of circle 200.96

Say Hello to user, Expected, ‘Hello name’

In [9]:
print("Hello Abhishek")

Hello Abhishek

Calculate Volume of Sphere

In [13]:
pi = 3.14
r = 4
Volume = 4/3*pi*(r*r*r)
print("Volume of the sphere is:",Volume)

Volume of the sphere is: 267.94666666666666

Copy String in n times

In [15]:
statement = "My life my goals"
statements = statement * 5
print("statements:",statements)

statements: My life my goalsMy life my goalsMy life my goalsMy life my goalsMy life my goals

 Calculate Area of a Triangle?

In [16]:
base=4
height=6
Area = 1/2*base*height
print("Area of triangle is:",Area)

Area of triangle is: 12.0

Calculate Interest?

In [19]:
principal = 50000 
rate_percent = 5
time_years = 2
Interest = (principal*rate_percent*time_years)/100
print("Interest:",Interest)

Interest: 5000.0

calculate Euclidean Distance?

In [21]:
import math
x=(1,2)
y=(3,4)
distance = math.sqrt(((x[0]-y[0])**2)+((x[1]-y[1])**2))
print("Euclidean distance is:",distance)

Euclidean distance is: 2.8284271247461903

Feet to centimeter Converter

In [23]:
h_ft = 6
h_cm = h_ft * 30.48
print("converted centimeters",h_cm)

converted centimeters 182.88

BMI Calculator

In [24]:
weight_kg = 90
height_m = 1.90
BMI = weight_kg/(height_m**2)
print("calculated BMI",BMI)

calculated BMI 24.930747922437675

receive two integral numbers in string form and compute their sum and then print it in console?

In [11]:
string = "Abhishek 4 DOB 7"
sum = 0
for i in string:
    if (i.isnumeric()):
        sum = sum + int(i)
        print(sum)

4
11

bitwise operators for any two variable all the bitwise operator that are there?

In [13]:
a & b(AND)
a | b(OR)
a ^ b(XOR)
a << b(a shifts left by b units)
a >> b(a shifts right by b units )
~a(Negation of a)

SyntaxError: invalid syntax (<ipython-input-13-7625b82ac40a>, line 4)

str1=" this is a sample daTaa to test for the task" Check if ‘is’ present in str1?

In [17]:
str1=" this is a sample daTaa to test for the task"
res = str1.find("is")
if res >= 0:
    print(" is present  in str1")
else:
    print(" is not present in str1")

 is present  in str1

Check if ‘was’ not present in str1?

In [18]:
str1=" this is a sample daTaa to test for the task"
res = str1.find("was")
if res >= 0:
    print(" was present  in str1")
else:
    print(" was not present in str1")

 was not present in str1

Print str1 in uppercase?

In [19]:
str1=" this is a sample daTaa to test for the task"
print(str1.upper())

 THIS IS A SAMPLE DATAA TO TEST FOR THE TASK

Print str1 as title?

In [20]:
str1=" this is a sample daTaa to test for the task"
print(str1.title())

 This Is A Sample Dataa To Test For The Task

Get a new string from str1 ‘DatTaa’ as ‘Data’?

In [25]:
str1=" thisisasampleDataatotestforthetask"
print(str1[14:18])

Data

Print a new string with extra "a" removed form previous task?

In [27]:
str1="Dataa"
print(str1.removesuffix('a'))

Data

Display ‘sample’ word from ‘ this is another sample string ‘?

In [29]:
str = "thisisanothersamplestring"
print(str[13:19])

sample

Display date, month and year form 21-oct-2020?

In [32]:
from datetime import date
print("Current date:21.10.2020 ")
print(" year:2020")
print(" month:october")
print("Current day:21")

Current date:21.10.2020
 year:2020
 month:october
Current day:21

arr = “10,20,30,40,50,60,70”, get “50,60”?

In [41]:
arr = [10,20,30,40,50,60,70]
print(arr[4])
print(arr[5])

50
60

From credit_str get ‘8888’
credit_str = "xxxx----xxxx-8888------xxxx"

In [43]:
credit_str = "xxxx----xxxx-8888------xxxx"
print(credit_str[13:17])

8888

From credit_str get ‘0’
credit_str = "1234-5678-9878-0434"

In [46]:
credit_str = "1234-5678-9878-0434"
print(credit_str[15:16])

0

convert a integer into a string and print it in console?

In [10]:
num = 10
converted_num = f'{num}'
print(type(converted_num))

<class 'str'>

take two strings as input and concatenate them and then print it?

In [12]:
str1 = "I'm Abhishek Reddy"
str2 = " and living in Germany"
str = str1 + str2
print(str)

I'm Abhishek Reddy and living in Germany

convert the given string into list
given_string = " Apples is differnt from Apple Inc"?

In [17]:
given_string = " Apples is differnt from Apple Inc"
print(given_string.split())

['Apples', 'is', 'differnt', 'from', 'Apple', 'Inc']

print type of a and get the 1 element
a = {(1,2):1,(2,3):2}?

In [19]:
a = {(1,2):1,(2,3):2}
print(type(a))
print(a[1,2])

<class 'dict'>
1

write a program to get  list as 4,3,2 from the list below
a=1,2,3,4,5?

In [7]:
a=[1,2,3,4,5]
Sliced_List = a[-4:-1]
print("\nElements sliced from index -4 to -1")
print(Sliced_List)

Elements sliced from index -4 to -1
[2, 3, 4]

write a program to get odd number only using a slicing
a=1,2,3,4,5,6,7,8,9

In [11]:
a = [1,3,5,7,9,2,4,6,8]
Sliced_List = a[0:5]
print("\nElements sliced from index 0 to 5")
print(Sliced_List)

Elements sliced from index 0 to 5
[1, 3, 5, 7, 9]

create a tuple with (1,2) 5 times

In [12]:
Tuple1 = (1,2) * 5
print("\nTuple with repetition: ")
print(Tuple1)

Tuple with repetition:
(1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

from given list create separate lists of strings and numbers.use list comprehension
gadgets = "Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, "Television", 1000, "Laptop Case", "Camera Lens"

In [42]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, "Television", 1000, "Laptop Case", "Camera Lens"]
gadgets_str = []
gadgets_int = []
for i in gadgets:
    t = type(i)==str
if t:
    gadgets_str.append(i)
    
else: 
    gadgets_int.append(i)

print(gadgets_str)

['Camera Lens']

An array is given from the array find the sum of diagonal using list comprehension
a_2d=[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
pip install numpy

Requirement already satisfied: numpy in ./miniconda3/lib/python3.9/site-packages (1.21.2)
Note: you may need to restart the kernel to use updated packages.

In [41]:
a_2d = [1,2,3,4,5,6,7,8,9]
diagonal_2d = [a_2d[0],a_2d[4],a_2d[8]]
sum = [a_2d[0]+a_2d[4]+a_2d[8]] 
print(sum)

[15]

convert number into tuple of words using comprehension
num=8976543201

In [60]:
num=8976543201
num_str = [str(a) for a in str(num)]
print(num_str)
res = [tuple(map(int, sub.split(', '))) for sub in num_str]
print("The list after conversion to tuple list : " + str(res))

['8', '9', '7', '6', '5', '4', '3', '2', '0', '1']
The list after conversion to tuple list : [(8,), (9,), (7,), (6,), (5,), (4,), (3,), (2,), (0,), (1,)]

print the numbers which are divisible by 2 but are not a multiple of 5
numbers = range(1, 10)

In [65]:
multiples_2 = []
def multiples(i):
    (int = x/2) for x in range(1,10):
        if int=1:
            multiples_2.append(i)
print(multiples_2)

SyntaxError: invalid syntax (<ipython-input-65-ecf991ca7a26>, line 3)